.Marco{
 width: 1900px;
 height: 54px;
 border: 1px;
 margin: 0 auto;
 display: flex;
 background-color:bisque ;
 flex-direction:row;
 flex-wrap: wrap;
 justify-content:space-around;
}
.menuheader{
    display:inline-block;
    
}

.buscador{
    background-color:rgb(128, 209, 231);
    display: flex;
    flex-direction: row;
}
.corazon{
    align-self:start;
}
.pruebas{
    width: 600px;
    height: 500px;
    border: 1px;
    margin: 0 auto;
    display: flex;
    background-color: cadetblue;
    flex-direction:column;
    justify-content:start;
    align-items:stretch;
    margin-top: 100px;
    
   

    
}

.hija1{
    background-color: rgb(177, 177, 25);
   
}
.hija2{
    background-color: rgb(14, 68, 131);
    
}
.hija3{
    background-color: rgb(59, 194, 66);
   
}
.hija4{
    background-color: rgb(182, 106, 30);
  
}
.hija5{
    background-color: rgb(162, 33, 173);
    
}